<style type="text/css">
	* {
		padding: 0;
		margin: 0;
	}

	a{
		text-decoration: none;
	}

	ul{
		list-style-type:none;
	}
	
	.clear:after {
		content: '';
		display: block;
		height: 0;
		clear: both; 
	}
	
	#one{
		background: url(./imgs/XHS_1607765238208.jpg) repeat center center;
	}

	#timer{
		text-align: center;
		font-size: 100px;
		color: white;
		margin-top: 300px;
	}
	.header{
		width: 100%;
		height: 200px;
		text-align: center;
		margin: 0 auto;
	}

	.header-top{
		height: 120px;
		background-color:black;
	}
	
	/* .one{
   		width:700px;
    	height:400px;
    	margin:100px auto;
	} */

	.imgBox{
    	width:600px;
    	height:300px;
    	float:left;
	}

	.one-left{
    	width:50px;
    	height:300px;
    	float:left;
	}

	.one-right{
    	width:50px;
    	height:300px;
    	float:right;
	}

	button{
   		width:50px;
    	height:500px;
    	background-color: white;
    	border:none;
    	outline:none;
	}

	button:hover{
    	background-color:#666;
	}

	.logo{
		font-size:40px;
		float: left;
		color: rgb(128,0,0);
		font-family: "ו";
		font-weight: bold;
		margin-left: 150px;
	}

	.form{
		float: left;
		margin-top: 45px;
		margin-bottom: 45px;
		margin-left: 500px;
	}

	.form .search {
		width: 231px;
		height: 11px;
		border: 1px solid rgba(128,0,0,1);
		float: left;
		padding: 9px;
	}

	.form .submit {
		float: left;
		width: 30px;
		height: 30px;
		border: 1px solid rgba(128,0,0,1);
		background: rgba(128,0,0,1) url(./imgs/search.png) no-repeat center center;
		cursor:pointer;
	}

	.my a{
		color:rgba(128,0,0,1);
		font-weight:400;
		font-size:20px;
		font-family:"ו";
	}

	.my {
		margin-top:0px;
		padding-bottom: 50px;
		padding-top: 50px;
		padding-right: 80px;
	}

	.header-bottom{
		height: 60px;
		float: left;
		margin-top: 0px;
		margin-left: 50px;
	}

	.nav{
		float: left;
		margin-top: 0px;
	}

	.nav li{
		float: left;
		width: 200px;
		text-align: center;
		line-height: 50px;
		font-size:18px;
		font-family:"ו";
		text-align: center;
		margin: 0 auto;
	}

	.nav a{
		color: rgba(128,0,0,1);
	}

	.banner img{
		width: 1200px;
		height: 470px;
		margin-top: 5px
	}

	.imgBox {
		height: 470px;
		width: 1200px;
		margin: 0 auto;
	}

	.boy {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 30px;
		background: rgba(105, 105, 105, 1);
		opacity: 0.6;
		font-weight: bold;
		color: rgba(255, 255, 255, 1);
	}

	.boy h3 {
		font-size: 12px;
		padding: 1px 0;
		margin-top: 8px;
		margin-bottom: 9px;
	}

	.banner{
		width: 100%;
		text-align: center;
		margin: 0 auto;
		height: 492px;
		background-color: white;
		position: relative;
		display: inline-block;
	}

	.banner-box{
		margin-left: 0px;
		margin-right: 0px;
	}

	.new{
		text-align: center;
		margin: 0 auto;
	}

	.new a{
		color: rgba(128,0,0,1);
		font-size: 20px;
	}

	.middle{
		width: 1200px;
		text-align: center;
		margin: 0 auto;
		background-color: #f3f5f7;
		width: 100%;
	}

	.pt{
		padding-left: 240px;
	}

	.pt li{
		position: relative;
		float: left;
		margin-left: 24px;
		margin-right: 24px;
	}

	.pt img{
		width: 190px;	
	}

	.money {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 60px;
		background: rgba(105, 105, 105, 1);
		opacity: 0.6;
		font-weight: bold;
		color: rgba(255, 255, 255, 1);
	}

	.money h3 {
		font-size: 12px;
		padding: 1px 0;
		margin-top: 9px;
		margin-bottom: 9px;
	}
	
	.money p {
		font-size: 12px;
		margin-top: 9px;
		margin-bottom: 9px;
	}

	.course{
		width: 1200px;
		text-align: center;
		margin: 0 auto;
		background-color: #f3f5f7;
		width: 100%;
	}

	.ph{
		margin-bottom: 0px;
	}
	
	.ph li{
		float: left;
		margin-left: 85px;
		margin-right: 85px;
		margin-bottom: 0px;
	}

	.ph img{
		width: 190px;
	}

	.text li{
		float: left;
		margin-left: 80px;
		margin-right: 14px;
		margin-bottom: 14px;
	}

	.text ul{
		width: 190px;
	}

	.introduce{
		width: 190px;
		height: 90px;
		background-color: #f3f5f7;
		margin-left: 70px;
	}

	.text .name{
		text-align: left;
		font-size:14px;
		color:rgba(5,5,5,1);
		line-height:20px;
		padding-left: 5px;
		padding-top: 20px;
	}

	.ph .one{
		margin-left: 142px;
	}

	.text .jieshao{
		margin-left: 155px;
	}

	.text{
		margin-top: 0px;
	}

	.introduce li{
		margin-left: 30px;
	}

	.z{
		height: 120px;
		width: 100%;
		clear: left;
		color: #fff;
		background-color:#000 ;
		text-align: center;
		line-height: 120px;
	}

	/* #all{
			margin: 0px;
			padding: 0px;
	} */

	#A{
		position: absolute;
		padding: 0px 500px;
		width: 150px;
		height: 350px;		
	}

	#B{
		width: 200px;
		height: 85px;
	}

	#C{
		position: relative;
		width: 200px;
		height: 50px;
		border-color: gray;
		border: 0.1px solid;
	}

	#D{
		width: 200px;
		height: 80px;
	}

	#E{
		width: 200px;
		height: 50px;
		border-color: gray;
		border: 0.1px solid;
		position: relative;
	}

	#F{
		width: 200px;
		height: 80px;
	}

	#username{
		font-size: 17px;
		width: 120px;
		height: 47px;
		outline: none;
		border: 0;
	}

	#pass{
		font-size: 17px;
		width: 120px;
		height: 47px;
		outline: none;
		border: 0;
	}	

	.p1,.p2{
		width: 200px;
		height: 20px;
		font-size: 10px;
		padding-top: 5px;
		color: gray;
	}	

	.sh{
		font-size: 17px;
		width: 130px;
		height: 50px;
		outline: none;
		border: 0;
	}

	.butt{
		outline: none;
		width: 200px;
		height: 50px;			
		color: white;
		border: 0;
		background-color: red;
	}	

	.an{
		padding-top: 5px;
		padding-left: 5px;
		font-size: 15px;
	}	

	.yu{
		top: 0px;
		position: absolute;
		left: 69px;
	}

	.sh{
		top: 0px;
		position: absolute;
		left: 69px;			
	}

	.ton{
		padding-top: 5px;
		padding-left: 5px;
		font-size: 15px;
	}

	.f{
		position: relative;
		width: 500px;
		height: 500px;
		padding-bottom: 900px;
		color: red;
		float: right;
		font-size: 30px;
	}
